@model IMSMVC.Models.Policies

@{
    ViewBag.Title = "DetailsPolicies";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<div class="card border-primary mx-auto mb-3 shadow mt-5" style="max-width: 20rem;">

    <div class="card-header">
        <h4>Policies Details</h4>
    </div>

    <div class="card-body mx-auto">
        
            
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.CategoryId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CategoryId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DurationInMonths)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DurationInMonths)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PremiumAmount)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PremiumAmount)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CreatedDate)
                </dd>

            </dl>
        <p>
            @Html.ActionLink("Buy Policies", "BuyPolicies", new { Id = Model.Id }) |
            @Html.ActionLink("Back to List", "Home", new { Id = Session["UserId"] })
        </p>
    </div>
    </div>
