@model IEnumerable<IMSMVC.Models.Policies>

@{
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
    ViewBag.Title = "Dashboard";
}

<div id="SlideshowImages">

    <div><img src="~/Images/img1.jpg" height="350" width="1450" /></div>
    <div><img src="~/Images/img2.jpg" height="350" width="1450" /></div>
    <div><img src="~/Images/img3.png" height="350" width="1450" /></div>


</div>
<style type="text/css" style="display: none !important;">
    #SlideshowImages {
        position: relative;
        width: 100%;
        height: 380px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
    }



        #SlideshowImages > div {
            position: absolute;
            top: 10px;
            left: 10px;
            right: 10px;
            bottom: 10px;
        }
</style>



<script type="text/javascript">
    $(document).ready(function () {
        $("#slideshow > div:gt(0)").hide();
        setInterval(function () {
            $('#SlideshowImages > div:first').fadeOut(1000).next().fadeIn(3000).end().appendTo('#SlideshowImages');
        }, 4000);
    });
</script>
<br />

<div class="border border-primary rounded shadow mt-4 mx-4 p-3">

    <table id="table" class="table table-hover rounded table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DurationInMonths)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PremiumAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DurationInMonths)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PremiumAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @Html.ActionLink("Buy", "DetailsPolicies", new { Id = item.Id }, new { @class = "btn btn-success btn-block" })
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#table').DataTable({
            "paging": true,
            "ordering": true,
            "info": true,
            "order": [[5, "desc"]],
            @*"scrollY": '30vh',
            "scrollCollapse": true,*@
            "pagingType": "full",
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        });
    });
</script>