@model IEnumerable<IMSMVC.Models.BuyPolicies>

@{
    ViewBag.Title = "ViewBuyPolicies";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<h2>ViewBuyPolicies</h2>

<div class="border border-primary rounded shadow mt-4 mx-4 p-3">

    <table id="table" class="table table-hover rounded table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PolicyId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PolicyCategoryId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AmountPaid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RequiredDocument)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpdatedDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PolicyId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PolicyCategoryId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AmountPaid)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequiredDocument)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdatedDate)
                    </td>
                    <td>
                        @if (item.UpdatedDate >= DateTime.Now)
                        {

                            @Html.ActionLink("Claim", "MakePoliciesClaim", new { Id = item.Id }, new { @class = "btn btn-dark btn-block" })
                        }
                        @Html.ActionLink("Renew", "RenewPolicy", new { Id = item.Id }, new { @class = "btn btn-success btn-block" })
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#table').DataTable({
            "paging": true,
            "ordering": true,
            "info": true,
            "order": [[5, "desc"]],
            @*"scrollY": '30vh',
            "scrollCollapse": true,*@
            "pagingType": "full",
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        });
    });
</script>
