<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Insurance Management System</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
    @*<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/material-components-web/4.0.0/material-components-web.min.css">*@
    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/dataTables.material.min.css">*@

    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    @*<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/dataTables.material.min.js"></script>*@
</head>
<body>
    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary" id="navbar">
        <div class="container">
            <a class="navbar-brand" href="#">Insurance Management System</a>
            @*<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li id="1" class="nav-item">
                            <a class="nav-link" href="../">
                                L0.ogin
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li id="2" class="nav-item">
                            <a class="nav-link" href="../Register">Register</a>
                        </li>
                    </ul>
                </div>*@
        </div>
    </div>
    <div class="navbar navbar-expand navbar-fixed-top navbar-dark bg-primary" style="height:80px;">
        @*<div class="navbar navbar-inverse navbar-fixed-top navbar-dark bg-primary">*@
        <div class="container">

            <div class="navbar-header">
                @Html.ActionLink("Home", "Home", new { Id = Session["UserId"] }, new { @class = "navbar-brand" })
                @Html.ActionLink("Feedback", "GiveFeedback", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Complaints", "GiveComplaints", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Buy Policies", "ViewBuyPoliocies", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Policies Claim", "ViewPoliciesClaim", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Policies Transactions", "ViewPoliciesTransactions", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div class="nav navbar-nav navbar-right">
                @Html.ActionLink("Logout", "Logout", new { area = "" }, new { @class = "navbar-brand" })
            </div>
        </div>
    </div>
    <div>

        @RenderBody()

    </div>


    <div class="footer">

        <p>&copy; @DateTime.Now.Year - Insurance Management System </p>
    </div>

    <style>
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #4582ec;
            color: oldlace;
            text-align: center;
            align-content: center;
        }
    </style>
</body>

</html>

<script type="text/javascript">

    @*$(document).ready(function () {
        var current = document.getElementById('@ViewBag.Page');
        current.classList.add('active');
    });*@

    window.onload = window.history.forward(0);  //calling function on window onload
    var prevScrollpos = window.pageYOffset;
    window.onscroll = function () {
        var currentScrollPos = window.pageYOffset;
        if (prevScrollpos > currentScrollPos) {
            document.getElementById("navbar").style.top = "0";
        } else {
            document.getElementById("navbar").style.top = "-70px";
        }
        prevScrollpos = currentScrollPos;
    }

</script>
