@model IMSMVC.Models.Policies

@{
    ViewBag.Title = "CreatePolicies";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="card border-primary mx-auto mb-3 shadow mt-5" style="max-width: 20rem;">

    <div class="card-header">
        <h4>Create Policy</h4>
    </div>

    <div class="card-body mx-auto">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                      
                        @Html.EditorFor(model => model.CategoryId, new { htmlAttributes = new { @class = "form-control", @placeholder = "Category Id" } })
                        @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                    
                </div>

                <div class="form-group">
                    
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Name" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    
                </div>

                <div class="form-group">
                    
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Description" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    
                </div>

                <div class="form-group">
                    
                        @Html.EditorFor(model => model.DurationInMonths, new { htmlAttributes = new { @class = "form-control", @placeholder = "Duration in months" } })
                        @Html.ValidationMessageFor(model => model.DurationInMonths, "", new { @class = "text-danger" })
                    
                </div>

                <div class="form-group">
                    
                        @Html.EditorFor(model => model.PremiumAmount, new { htmlAttributes = new { @class = "form-control", @placeholder = "Duration in months" } })
                        @Html.ValidationMessageFor(model => model.PremiumAmount, "", new { @class = "text-danger" })
   
                </div>

                <div class="form-group">
                    
                        <input type="submit" value="Create" class="btn btn-outline-primary btn-block" />
                 
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Back to List", "ViewPolicies")
        </div>
    </div>
</div>

        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
