@model IMSMVC.Models.CustomerAgent

@{
    ViewBag.Title = "DeleteCustomerAgents";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<div class="card border-primary mx-auto mb-3 shadow mt-5" style="max-width: 20rem;">

    <div class="card-header">
        <h4>Customer Agent</h4>
    </div>

    <div class="card-body mx-auto">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.AgentId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AgentId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedDate)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-outline-danger btn-block" />
                @Html.ActionLink("Back to List", "ViewCustomerAgents")
            </div>
        }
    </div>
</div>
