@model IEnumerable<IMSMVC.Models.CustomerAgent>

@{
    ViewBag.Title = "ViewCustomerAgents";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>ViewCustomerAgents</h2>

<p>
    @Html.ActionLink("Create New", "CreateCustomerAgents")
</p>
<div class="border border-primary rounded shadow mt-4 mx-4 p-3">

    <table id="table" class="table table-hover rounded table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AgentId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AgentId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditCustomerAgents", new { id = item.Id }) |
                        @Html.ActionLink("Details", "DetailsCustomerAgents", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "DeleteCustomerAgents", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#table').DataTable({
            "paging": true,
            "ordering": true,
            "info": true,
            "order": [[5, "desc"]],
            @*"scrollY": '30vh',
            "scrollCollapse": true,*@
            "pagingType": "full",
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        });
    });
</script>
