@model IEnumerable<IMSMVC.Models.Feedback>

@{
    ViewBag.Title = "ViewFeedback";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>ViewFeedback</h2>

<div class="border border-primary rounded shadow mt-4 mx-4 p-3">

    <table id="table" class="table table-hover rounded table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Message)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Message)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "DeleteFeedbacks", new { Id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#table').DataTable({
            "paging": true,
            "ordering": true,
            "info": true,
            "order": [[5, "desc"]],
            @*"scrollY": '30vh',
            "scrollCollapse": true,*@
            "pagingType": "full",
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        });
    });
</script>
