@model IEnumerable<IMSMVC.Models.PoliciesClaim>

@{
    ViewBag.Title = "ViewPoliciesClaim";
    Layout = "~/Views/Shared/_LayoutAgent.cshtml";
}

<h2>ViewPoliciesClaim</h2>

<div class="border border-primary rounded shadow mt-4 mx-4 p-3">

    <table id="table" class="table table-hover rounded table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PolicyId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClaimAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RequiredDocuments)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClaimStatusID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reason)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PolicyId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClaimAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequiredDocuments)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClaimStatusID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reason)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#table').DataTable({
            "paging": true,
            "ordering": true,
            "info": true,
            "order": [[5, "desc"]],
            @*"scrollY": '30vh',
            "scrollCollapse": true,*@
            "pagingType": "full",
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        });
    });
</script>

